<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>About - Meerkat DSA</title>
        <style>
            body {
                background-color: black;
                color: white;
            }
            @media screen and (prefers-color-scheme: light) {
                body {
                    background-color: white;
                    color: black;
                }
            }
        </style>
    </head>
    <body>
        <h1>About</h1>
        <hr />
        <nav><a href="/">Back to Home</a></nav>
        <hr />
        <table>
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Version</td>
                    <td>{{version}}</td>
                </tr>
                <tr>
                    <td>Git Commit Hash</td>
                    <td>{{hash}}</td>
                </tr>
                <tr>
                    <td>Operating System CPU Architecture</td>
                    <td>{{os_arch}}</td>
                </tr>
                <tr>
                    <td>Operating System Endianness</td>
                    <td>{{os_endianness}}</td>
                </tr>
                <tr>
                    <td>Operating System Free Memory</td>
                    <td>{{os_freemem}}</td>
                </tr>
                <tr>
                    <td>Home Directory</td>
                    <td>{{os_homedir}}</td>
                </tr>
                <tr>
                    <td>Hostname</td>
                    <td>{{os_hostname}}</td>
                </tr>
                <tr>
                    <td>Operating System Platform</td>
                    <td>{{os_platform}}</td>
                </tr>
                <tr>
                    <td>Operating System Release</td>
                    <td>{{os_release}}</td>
                </tr>
                <tr>
                    <td>Operating System Total Memory</td>
                    <td>{{os_totalmem}}</td>
                </tr>
                <tr>
                    <td>Operation System Type</td>
                    <td>{{os_type}}</td>
                </tr>
                <tr>
                    <td>Operating System Uptime</td>
                    <td>{{os_uptime}}</td>
                </tr>
                <tr>
                    <td>Operating System Version</td>
                    <td>{{os_version}}</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
