<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Trust Anchors - Meerkat DSA</title>
        <meta name="csrf-token" content="{{csrfToken}}">
        <meta name="referrer" content="no-referrer">
        <meta name="robots" content="noindex">
        <style>
            body {
                background-color: black;
                color: white;
            }
            a {
                color: #F44336;
            }
            a:hover {
                color: #EF9A9A;
            }
            a:visited {
                color: #7B1FA2;
            }
            @media screen and (prefers-color-scheme: light) {
                body {
                    background-color: white;
                    color: black;
                }
            }
        </style>
    </head>
    <body>
        <h1>Trust Anchors</h1>
        <hr />
        <nav><a href="/">Back to Home</a></nav>
        <hr />
        <p>
            Below are the trust anchors you have configured for this DSA.
        </p>
        <p>
            You can view the PEM-encoded trust anchor list
            <a href="/pki/{{type}}/trust-anchor-list.pem">here</a> or download it
            <a href="/pki/{{type}}/trust-anchor-list.pem?download=1">here</a>.
            You may also view a signed equivalent of this file
            <a href="/pki/{{type}}/trust-anchor-list-signed.pem">here</a> or download it
            <a href="/pki/{{type}}/trust-anchor-list-signed.pem?download=1">here</a>.
        </p>
        <p>
            You can view the DER-encoded trust anchor list
            <a href="/pki/{{type}}/trust-anchor-list.cmsc">here</a> or download it
            <a href="/pki/{{type}}/trust-anchor-list.cmsc?download=1">here</a>.
            You may also view a signed equivalent of this file
            <a href="/pki/{{type}}/trust-anchor-list-signed.cmsc">here</a> or download it
            <a href="/pki/{{type}}/trust-anchor-list-signed.cmsc?download=1">here</a>.
        </p>
        <p>
            Note that the trust anchor list file you download might differ from
            the one you configured for Meerkat DSA. This is because Meerkat DSA
            will combine any certificate authorities given by the configured
            certificate authorities file with the trust anchor list. If neither
            a trust anchor list file nor a certificate authorities file are
            configured, this trust anchor list will just contain NodeJS's
            built-in trusted root certificate authorities.
        </p>
        <hr />
        <div style="display: flex; flex-direction: column; gap: 10px;">
            {{#each anchors}}
                <h2>Trust Anchor {{position}}</h2>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Key</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each values}}
                            {{#if odd}}
                            <tr style="background-color: #111111">
                                <td><pre>{{key}}</pre></td>
                                <td><pre>{{value}}</pre></td>
                            </tr>
                            {{else}}
                            <tr>
                                <td><pre>{{key}}</pre></td>
                                <td><pre>{{value}}</pre></td>
                            </tr>
                            {{/if}}
                        {{/each}}
                    </tbody>
                    <tfoot></tfoot>
                </table>
            {{/each}}
        </div>
    </body>
</html>
