<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Cert Path - Meerkat DSA</title>
        <meta name="csrf-token" content="{{csrfToken}}">
        <meta name="referrer" content="no-referrer">
        <meta name="robots" content="noindex">
        <style>
            body {
                background-color: black;
                color: white;
            }
            a {
                color: #F44336;
            }
            a:hover {
                color: #EF9A9A;
            }
            a:visited {
                color: #7B1FA2;
            }
            @media screen and (prefers-color-scheme: light) {
                body {
                    background-color: white;
                    color: black;
                }
            }
        </style>
    </head>
    <body>
        <h1>Certification Path</h1>
        <hr />
        <nav><a href="/">Back to Home</a></nav>
        <hr />
        <p>
            Below are the certificates you have configured for this
            certification path. The end-entity certificate will be the first
            certificate in the following tables, and the trust anchor will be
            the last.
        </p>
        <p>
            You can view the PEM-encoded certificates
            <a href="/pki/{{type}}/certs.pem">here</a> or download them
            <a href="/pki/{{type}}/certs.pem?download=1">here</a>. (Note that the
            order in which you download them will be reversed from the order in
            which you see these certificates presented below.)
        </p>
        <p>
            If you have these certificates on your local computer, you can use
            the OpenSSL to view the following information using
            <pre>openssl x509 -in &lt;cert name&gt; -noout -text</pre>
        </p>
        <hr />
        <div style="display: flex; flex-direction: column; gap: 10px;">
            {{#each certs}}
                <h2>Certificate {{position}}</h2>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Key</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each values}}
                            {{#if odd}}
                            <tr style="background-color: #111111">
                                <td><pre>{{key}}</pre></td>
                                <td><pre>{{value}}</pre></td>
                            </tr>
                            {{else}}
                            <tr>
                                <td><pre>{{key}}</pre></td>
                                <td><pre>{{value}}</pre></td>
                            </tr>
                            {{/if}}
                        {{/each}}
                    </tbody>
                    <tfoot></tfoot>
                </table>
            {{/each}}
        </div>
    </body>
</html>
