<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Op. Binding {{uuid}} - Meerkat DSA</title>
        <meta name="referrer" content="no-referrer">
        <meta name="csrf-token" content="{{csrfToken}}">
        <meta name="robots" content="noindex">
        <style>
            body {
                background-color: black;
                color: white;
            }
            a {
                color: #F44336;
            }
            a:hover {
                color: #EF9A9A;
            }
            a:visited {
                color: #7B1FA2;
            }
            @media screen and (prefers-color-scheme: light) {
                body {
                    background-color: white;
                    color: black;
                }
            }
            td {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>Operational Binding Details</h1>
        <hr />
        <nav><a href="/">Back to Home</a></nav>
        <hr />
        {{#if actionable}}
        <h2>Actions</h2>
        <div style="display: flex; flex-direction: column; gap: 10px;">
            {{#if outbound}}
            <form action="/ob/{{uuid}}/cancel" method="POST" >
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <button style="width: 200px" type="submit">Cancel</button>
            </form>
            {{else}}
            <form action="/ob/{{uuid}}/accept" method="POST" >
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <div style="display: flex; flex-direction: column; gap: 10px;">
                    <fieldset>
                        <p>
                            These options will only have an effect if you accept
                            this requested operational binding.
                        </p>
                        <div style="margin: 10px">
                            <input type="checkbox" name="ibra" id="ibra">
                            <label for="ibra">
                                Trust this DSA to always report the requester's name and
                                authentication level truthfully? (Identity-Based Requester
                                Authentication)
                            </label>
                        </div>
                        <div style="margin: 10px">
                            <input type="checkbox" name="xr" id="xr">
                            <label for="xr">
                                Disclose cross-references to this DSA, if requested?
                            </label>
                        </div>
                    </fieldset>
                    <button style="width: 200px" type="submit">Accept</button>
                </div>
            </form>
            <form action="/ob/{{uuid}}/reject" method="POST" >
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <button style="width: 200px" type="submit">Reject</button>
            </form>
            {{/if}}
        </div>
        <hr />
        {{/if}}
        <h2>Details</h2>
        <table>
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><pre>Status</pre></td>
                    <td><pre>{{status}}</pre></td>
                </tr>
                <tr>
                    <td><pre>UUID</pre></td>
                    <td><pre>{{uuid}}</pre></td>
                </tr>
                <tr>
                    <td><pre>Binding Type</pre></td>
                    <td><pre>{{binding_type}}</pre></td>
                </tr>
                <tr>
                    <td><pre>Binding Identifier</pre></td>
                    <td><pre>{{binding_identifier}}</pre></td>
                </tr>
                <tr>
                    <td><pre>Binding Version</pre></td>
                    <td><pre>{{binding_version}}</pre></td>
                </tr>
                <tr>
                    <td><pre>Initiator</pre></td>
                    <td><pre>{{initiator}}</pre></td>
                </tr>
                <tr>
                    <td><pre>Validity Start</pre></td>
                    <td><pre>{{validity_start}}</pre></td>
                </tr>
                <tr>
                    <td><pre>Validity End</pre></td>
                    <td><pre>{{validity_end}}</pre></td>
                </tr>
                {{#if cp}}
                <tr>
                    <td><pre>Context Prefix</pre></td>
                    <td><pre>{{cp}}</pre></td>
                </tr>
                {{/if}}
                <tr>
                    <td><pre>Agreement Bytes</pre></td>
                    <td><pre>{{agreement_bytes}}</pre></td>
                </tr>
                <tr>
                    <td><pre>Initiator Parameters Bytes</pre></td>
                    <td><pre>{{init_param_bytes}}</pre></td>
                </tr>
                <tr>
                    <td><pre>Requested Time</pre></td>
                    <td><pre>{{requested_time}}</pre></td>
                </tr>
                {{#if ap_ae_title}}
                <tr>
                    <td><pre>Correspondent Access Point AE-Title</pre></td>
                    <td>
                        <pre>{{ap_ae_title}}</pre>
                    </td>
                </tr>
                {{/if}}
                {{#if previous_uuid}}
                <tr>
                    <td><pre>Previous Version</pre></td>
                    <td>
                        <pre><a href="/ob/{{previous_uuid}}">{{previous_uuid}}</a></pre>
                    </td>
                </tr>
                {{/if}}
            </tbody>
        </table>
    </body>
</html>
